.about-page-content{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center ;
}
.about-page-content >div{
    width: 50%;
}
.about-page-img{
    height: 100%;
}
.about-page-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.about-page-text{
    padding: 30px;
}

@media screen and (max-width:800px){
    .about-page-content{
        width: 95%;
        display: block;
        margin: auto;
    }
    .about-page-content >div{
        width: 100%;
    }
    .about-page-text{
        padding: 10px 0px;
    }
}