.home-intro{
    width:100%;
    position: relative;
    color: white;
}

.home-intro-content{
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.intro-background{
    position: absolute;
    z-index: -1;
    width:100%;
    height: 110%;
    object-fit: cover;
    top:-50px;
}

.intro-food-img{
    width: 40vw;
}

.home-intro-text h1{
    font-size: 5vw;
}
.home-intro-text p{
    font-size: 2vw;
}
.order-btn{
    margin:20px auto;
}
.order-btn a{
    padding: 10px 15px;
    background: #EA9B03;
    color:white;
    text-decoration: none;
}

/* HOME ABOUT SECTION */

.home-about{
    background: #1E0E05;
    color:white
}

.home-about-content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.home-about-content > div {
    width: 45%;
}

.home-about-img{
    height: 40vh;
    position: relative;
    z-index: 2;
}
.home-about-img img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.home-about-img::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    top:-20%;
    left:10%;
    background: #EA9B03;
    z-index: -1;
}
.home-about-txt-features{
    margin: 0;
    padding: 0;
}
.home-about-txt-features li{
    margin: 20px 20px 20px auto; 
    display: inline-block;  
    color: #EA9B03;
}

/* HOME MENU */
.home-menu{
    padding: 10px 0px 50px 0px;
}
.home-menu-content{
    width:100%;
    display: flex;
    justify-content: center;
}
.home-menu-grid{
    display: grid;
    width: 50%;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.home-menu-card{
    display: flex;
    align-items:flex-start;
}
.home-menu-card-img{
    width:50px;
    height: 50px;
}
.home-menu-card-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* HOME EVENT */

.home-events{
    padding: 10px 0px 50px 0px;
    background: #1E0E05;
    color:white;
}

.home-events-content{
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

/* Home contact */

.home-contact{
    width:100%;
    padding-bottom: 50px;
}

.home-form-text{
    height: 120px;
}

.home-contact-content{
    display:flex;
    width: 100%;
    justify-content:space-between;
}
.home-contact-content > div {
    width: 40%;
}

.form-inputs{
    width: 100%;
    padding: 20px;
    margin: 20px 5px;
    border: 1px solid black;
}

.map-embed{
    width:100%;
    height: 60vh;
}

.home-contact-txt h5{
    margin-bottom: 20px;
}

.home-gallery-grid{
    width: 100;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.gallery-grid-pic{
    height: 40vh;
}
.gallery-grid-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}