.menu-page{
    width:100%;
}

.menu-page-content{
    width: 100%;
    display: flex;
}

.main-menu-grid{
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto;
}

.menu-grid-card{
    margin: 10px;
    text-align: center;
}

.menu-grid-card-img{
    width: 100%;
    height: 40vh;
}

.menu-grid-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-sidebar{
    width: 20vw;
    border-left: 1px solid #EA9B03;
}
.menu-sidebar-section-heading{
    background: #EA9B03;
    padding: 5px;
    color: white;
}
.menu-sidebar-section-options ul{
    list-style: none;
}
.menu-sidebar-section-options li{
    margin: 10px auto;
}