html{
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'DM Serif Display', serif;
}

h1{
  font-size: 5vw;
}

h2{
  font-size: 4vw;
}
h3{
  font-size: 3vw;
}

h5{
  font-size: 1.5vw;
}

p{
  font-size: 1.3vw;
}

.container{
  width:95%;
  margin: auto;
}

.section-heading{
  text-align: center;
  margin: 30px auto;
}

@media screen and (max-width:800px){
  h1{
    font-size: 50px;
  }
  
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 20px;
  }
  
  h5{
    font-size: 15px;
  }
  p{
    font-size: 12px;
  }
  
}